.container {
  position: absolute;
  width: 900px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  display: flex;
  flex-direction: row;
}
.container .side-bar {
  width: 7%;
  background-color: rgba(150, 174, 192, 0.948);
  position: relative;
  display: flex;
  justify-content: center;
}
.container .side-bar .avatar {
  width: 60%;
  position: absolute;
  top: 20px;
}
.container .side-bar .avatar:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.container .side-bar .setting {
  width: 70%;
  position: absolute;
  bottom: 35px;
}
.container .side-bar .setting:hover {
  cursor: pointer;
}
.container .info-bar {
  width: 27%;
  background-color: #d7d7d7;
  border-right: solid 1px #d7d7d7;
  position: relative;
}
.container .info-bar .search-box {
  height: 10%;
  background-color: #eaeaea;
  position: relative;
  top: 0;
}
.container .info-bar .search-box .search-input {
  width: 80%;
  height: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  border: solid #b3b3b3 1px;
}
.container .info-bar .chat-list {
  height: 90%;
  background-color: #d6d6d6;
}
.container .info-bar .chat-list .chat-list-item {
  display: flex;
  flex-direction: row;
  height: 12%;
}
.container .info-bar .chat-list .chat-list-item .chat-list-item-avatar-container {
  flex: 1;
  display: flex;
}
.container .info-bar .chat-list .chat-list-item .chat-list-item-avatar-container .chat-list-item-avatar {
  margin: auto 10px;
  width: 41px;
  height: 41px;
}
.container .info-bar .chat-list .chat-list-item .chat-list-item-info {
  display: flex;
  flex-direction: column;
  flex: 3;
}
.container .info-bar .chat-list .chat-list-item .chat-list-item-info .chat-list-item-username {
  margin: 10px 0 0 0;
  font-size: 18px;
  width: 170px;
  height: 45%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container .info-bar .chat-list .chat-list-item .chat-list-item-info .chat-list-item-lastmessage {
  height: 60%;
  font-size: 12px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.container .info-bar .chat-list .chosen {
  background-color: #919191 !important;
}
.container .info-bar .chat-list .chat-list-item:hover {
  background-color: #bdbcbc;
  cursor: pointer;
}
.container .info-bar .chat-list .chat-list-item:focus {
  background-color: pink;
}
.container .dialogue-panel {
  width: 66%;
  background-color: #f5f5f5;
  position: relative;
}
.container .dialogue-panel .dialogue-header {
  height: 10%;
  width: 100%;
  border-bottom: solid 1px #d7d7d7;
  display: flex;
  align-items: center;
}
.container .dialogue-panel .dialogue-header .contact-name {
  margin-left: 30px;
  font-size: large;
}
.container .dialogue-panel .dialogue-content {
  position: absolute;
  overflow: scroll;
  top: 10%;
  bottom: 30%;
  width: 100%;
  overflow-x: hidden;
}
.container .dialogue-panel .dialogue-content .message-self {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
}
.container .dialogue-panel .dialogue-content .message-self .message-avatar-self {
  width: 37px;
  height: 37px;
  background-color: red;
  margin-right: 2px;
}
.container .dialogue-panel .dialogue-content .message-self .arrow-self {
  background-color: #bfbebe;
  margin: 10px 0;
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  z-index: 1;
  position: relative;
  left: -6px;
}
.container .dialogue-panel .dialogue-content .message-self .message-content-self {
  min-height: 15px;
  max-width: 380px;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  background-color: #bfbebe;
  padding: 10px;
  font-size: 15px;
  word-wrap: break-word;
}
.container .dialogue-panel .dialogue-content .message {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.container .dialogue-panel .dialogue-content .message .message-avatar {
  width: 37px;
  height: 37px;
  margin-right: 2px;
}
.container .dialogue-panel .dialogue-content .message .arrow {
  background-color: #bfbebe;
  margin: 10px 0;
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  z-index: 1;
  position: relative;
  left: 5px;
}
.container .dialogue-panel .dialogue-content .message .message-content {
  min-height: 15px;
  max-width: 380px;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  background-color: #bfbebe;
  padding: 10px;
  font-size: 15px;
  word-wrap: break-word;
}
.container .dialogue-panel .input-box {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 1px #d7d7d7;
}
.container .dialogue-panel .input-box .input-content {
  width: 96%;
  height: 68% !important;
  border: none !important;
  background-color: #f5f5f5 !important;
  resize: none !important;
  padding: 0 !important;
  margin: 10px !important;
  outline: none !important;
}
.container .dialogue-panel .input-box .input-send-btn {
  width: 65px;
  height: 30px;
  background-color: #bebebe;
  position: absolute;
  bottom: 15px;
  right: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.container .dialogue-panel .input-box .input-send-btn:hover {
  cursor: pointer;
}
.container .dialogue-panel .input-box .input-send-btn:active {
  background-color: grey;
}
.setting-panel {
  background-color: #9ba5b6;
  width: 90px;
  padding: 0 !important;
  font-size: 15px;
  margin: 5px auto;
}
.setting-panel:hover {
  cursor: pointer;
  user-select: none;
}
.setting-panel:active {
  background-color: #555555;
}
:global(.ant-popover-arrow) {
  visibility: hidden;
  background-color: #555555;
}
:global(.ant-popover-arrow-content::before) {
  background-color: #9ba5b6;
}
:global(.ant-popover-inner-content) {
  padding: 0 0 0 10px !important;
  background-color: #9ba5b6;
}
:global(.ant-popover-inner-content:active) {
  background-color: #555555;
}
