.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  background-color: rgb(255, 255, 255);

  .avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .email-input {
    max-height: 30px;
    width: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .password-input {
    max-height: 30px;
    width: 80%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }
  
  .login-btn {
    width: 55%;
    height: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;

    text-align: center;

    cursor: pointer;
  }

  .switch-account-btn {
    max-width: 200px;
    max-height: 50px;
    position: absolute;
    bottom: 2%;
    right: 1%;
    transform: translate(-50%, -50%);
    font-size: 12px;

    overflow: hidden;
    cursor: pointer;
  }

  .switch-account-btn:hover {
    text-decoration: underline;
  }
}