h3 {
  margin: 15px 0;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}
.container .username {
  width: 100%;
}
.container .username .username-input {
  width: 80%;
}
.container .email {
  width: 100%;
}
.container .email .email-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}
.container .email .email-input .email-input-box {
  width: 50%;
}
.container .email .email-input .send-code-btn {
  width: 40%;
}
.container .email .email-verify {
  display: flex;
  justify-content: space-between;
}
.container .email .email-verify .code-input-box {
  width: 50%;
}
.container .email .email-verify .verify-code-btn {
  width: 40%;
}
.container .password .password-input {
  width: 80%;
}
.container .password .password-reinput {
  display: flex;
  align-items: center;
}
.container .register {
  width: 60%;
  margin: 20px 0;
  position: absolute;
  bottom: 13%;
  font-size: 15px;
}
.container .back-btn {
  max-width: 200px;
  max-height: 50px;
  position: absolute;
  bottom: 5%;
  font-size: 15px;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
}
.container .back-btn:hover {
  text-decoration: underline;
}
.status-sign {
  height: 20px;
  margin: 0 5px;
}
